{% extends 'ExampleUserRegistrationBundle::layout.html.twig' %}

{% block title %}ユーザー情報の入力{% endblock %}

{% block content %}
<h2>ユーザー情報の入力</h2>
<div class="well">
    <form action="{{ path('register_post') }}" method="post">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn">次へ</button>
        </div>
    </form>
</div>
{% endblock %}